@use "../global" as *;

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  column-gap: 20px;
}

.nav__item {
  color: $color-main--text;
  font-size: 20px;
  line-height: 1.3em;
}
