$color-main: #427fa2;
$color-main--text: #ffffff;

$color-bg: #427fa249;
$color-bg--text: #ffffff;

$color-bg--btn: #a38560;

$color-bg--slide-0: $color-bg;
$color-bg--slide-1: $color-main;
$color-bg--slide-2: #2e5a73;
