<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@@title</title>
<meta name="description" content="@@description" />
<link rel="icon" type="image/png" href="./favicons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="./favicons/favicon.svg" />
<link rel="shortcut icon" href="./favicons/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="./favicons/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="test" />
<link rel="manifest" href="./favicons/site.webmanifest" />
<link rel="stylesheet" type="text/css" href="./css/@@style-name.min.css" />
<meta name="theme-color" content="#ffffff" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="ru_RU" />
<meta property="og:site_name" content="Alexander Taimasov" />
<meta property="og:title" content="@@title" />
<meta property="og:description" content="@@description" />
<meta property="og:image" content="@@ogImage" />